* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, LI{
list-style: none;
}

a{
    text-decoration: none;
}

body{
    
    background-color: #ffcc80;
    box-sizing: border-box;
    height: 50vh;
    width: 50vw;

}

header{
    display: flex;
    justify-content: flex;
    align-items: center;
    height: 90px;
    position: relative;
    background-color: aqua;
    width: 100vw;
   
    
}

h1{
    color: #5a0203;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    cursor: default;
    margin-left: 45px;
}

.nav{
    border-radius: 50px;
    background-color: #ec9440;
    width: 566px;
    height: 90px;
    left: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    align-items: center;
 

}

li:hover{
    color: #5a0203;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/*botão sing up*/
.nav-2{
    height: 50px;
    width: 110px;
    left: 1110px;
    background-color: #ec9440;
    border-radius: 50px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.nav-2 h2{
    font-size: 16px; 
    font-weight: lighter;
}

.nav-2:hover{
    text-decoration: underline;
    cursor: pointer;
}

h3{
    color:#5A0203;
    font-family: 'Montserrat', sans-serif;
}

.login > h2{
position: relative;
font-family: 'Montserrat', sans-serif;
justify-content: flex-end;
right: 12px;
}




