* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li{
list-style: none;
}

a{
    text-decoration: none;
}

    
body{
    
    background-color: #ffcc80;
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    justify-content: flex;
    align-items: center;
    height: 90px;
    width: 100vw;
    margin-top: 12px;
   
    
}

h1{
    position: relative;
    color: #5a0203;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    cursor: default;
    margin-left: 30px;
}

.nav{
    border-radius: 50px;
    background-color: #ec9440;
    width: 566px;
    height: 90px;
    left: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    align-items: center;
 

}

li:hover{
    color: #5a0203;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/*botão sing up*/
.nav-2{
    height: 50px;
    width: 110px;
    left: 1060px;
    background-color: #ec9440;
    border-radius: 50px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

      
}

.nav-2 h2{
    font-size: 16px; 
    font-weight: lighter;
}

.nav-2:hover{
    text-decoration: underline;
    cursor: pointer;
}

h3{
    color:#5A0203;
    font-family: 'Montserrat', sans-serif;
}

.login{
position: relative;
font-family: 'Montserrat', sans-serif;
justify-content: flex-end;
left: 780px;
}
.login h2{
    font-size:1rem;
}
.login:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
}


.lupa img{
    width: 24px;
    height: 21px;
}

.lupa{
    left: 750px;
    position: relative;
    top: 2px;
}

.lupa:hover{
    cursor: pointer;
}

main{
    width: 100%;
    bottom: 0%;
}

.back img{
   padding-bottom: 0%;
   height: 560px;
   width: 100%;
}
 
.explore{
    height: 45px;
    width: 140px;
    background-color: #ec9440; 
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Montserrat', sans-serif; 
    color: #ffffff;
    font-size: 16px;
}

.reserve{
    display: flex;
    height: 45px;
    width: 140px;
    background-color: #5A0203;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-family:'Montserrat', sans-serif; 
     color: #ffffff;

}  
